### write programme that input and output

In [1]:
x = 12
y = 92
z = x + y
print(z)

104

###float

In [2]:
x1 = 1.234
y1 = 2.543
print(x1)
print(y1)

1.234
2.543

## string

In [3]:
st = "Hi my name is mohammed"
print(st)

Hi my name is mohammed

### output using print

In [4]:
print("Welcome to my college")

Welcome to my college

##print string many time

In [5]:
s1 = "hi"
print(s1*8)

hihihihihihihihi

## print more than one type and varible

In [6]:
z = "hi mohammed"
x = 12
print(z , x)

hi mohammed 12

###input

In [7]:
x = input("Enter an integer:")
print("You have Enterd :", x)

You have Enterd : 12

###using Escape Sequence in string

In [10]:
print ("hi \mohammed")

hi \mohammed